
.manicure{
padding:1.5rem;
}
.lista-servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.servico3{
    background: #1a1a1a;
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    transition: .3s ease;
    border: 1px solid #222;
}

.servico3:hover {
    transform: translateY(-5px);
    border-color: #ff3b3b;
    box-shadow: 0 0 18px rgba(255, 60, 60, 0.4);
}

.servico3 img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.servico3 h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.servico3 p {
    font-size: 15px;
    color: #ccc;
    line-height: 1.5;
}

