/*reset basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;/*fonte usanda*/
  }
  /*corpo*/
  body {
    background-color: #fff8f6;
    color: #333;
  }
  /*espaço da img com text*/
  .servicos {
    padding: 60px 20px;
  }
  .servico h3{
    text-align: center;
  }
  /*testo "nossos serviços"*/
   h2 {
    font-size: 2.5em;/*tamanho da fonte*/
    color: #d63384;
    margin-bottom: 10px;
    text-align: center;
  }
  .descricao {
    font-size: 1em;
    color: #555;
    max-width: 600px;
    margin: 0 auto 50px;
  }
  
/*caixa que mostra nosso serviços*/
  .container-servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;

  }
  
/*corpo geral*/
  .servico {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden; /* para cortar e esconder qualquer conteúdo que ultrapasse os limites de um elemento*/
  }
  /*animação*/
  .servico:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }
  /*imagem do site*/
  .servico img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  /*texto do que nos faz*/
  .servico h3 {
    font-size: 1.4em;
    margin: 15px 0;
    color: #b32169;
  }
  /*list que de nossos serviços*/
  .servico ul {
    padding: 0 25px 25px;
  }
  

  /*não ter linha na list*/
  .servico ul li:last-child {
    border-bottom: none;
  }
  


  /* BOTÃO RGB NEON CHAMATIVO*/
  .btn-inicio-s {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 40px;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    -webkit-tap-highlight-color: transparent; /* Remove o highlight azul no mobile */
    outline: none; /* Remove a borda azul */
    background: linear-gradient(
      90deg,
      #ff0000,
      #ff3b3b,
      #ff008c,
      #ff3b3b,
      #ff0000
    );
    background-size: 300% 300%;
    animation: rgbMove 4s ease infinite;
    box-shadow: 0 0 18px rgba(255, 0, 68, 0.7);
    transition: 0.25s ease;
    letter-spacing: 1px;
  }
  
  /* ANIMAÇAO RGB */
  @keyframes rgbMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  /* HOVER */
  .btn-inicio-s:hover {
    transform: scale(1.12);
    box-shadow: 0 0 25px rgba(255, 0, 80, 0.9), 0 0 40px rgba(255, 30, 120, 0.7);
  }
  .btn-inicio-s:focus,
  .btn-inicio-s:active {
    outline: none;
    box-shadow: none;
  }
