.Sobre{
    text-align: center;
    background-color: #f7e1d7;
    padding: 80px 20px;
}
.Sobre p{
    margin: 12px;
    padding-bottom: 1rem;
}
.btn-inicio {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(153, 31, 31);
    padding: 12px;
    border-radius: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: rgb(245, 242, 242);
    font-weight: bolder;
    

}