/*reset basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;/*fonte usanda*/
  }
  /*corpo*/
  body {
    background-color: #fff8f6;
    color: #333;
  }
  /*espaço da img com text*/
  .servicos {
    text-align: center;
    padding: 60px 20px;
  }
  .servico h3{
    text-align: center;
  }
  /*testo "nossos serviços"*/
   h2 {
    font-size: 2.5em;/*tamanho da fonte*/
    color: #d63384;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .descricao {
    font-size: 1em;
    color: #555;
    max-width: 600px;
    margin: 0 auto 50px;
  }
  
/*caixa que mostra nosso serviços*/
  .container-servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));/* Cria colunas que se ajustam automaticamente */
    gap: 35px;
    max-width: 1100px;
    margin: auto;
  }
  
/*corpo geral*/
  .servico {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden; /* para cortar e esconder qualquer conteúdo que ultrapasse os limites de um elemento*/
  }
  /*animação*/
  .servico:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }
  /*imagem do site*/
  .servico img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  /*texto do que nos faz*/
  .servico h3 {
    font-size: 1.4em;
    margin: 15px 0;
    color: #b32169;
  }
  /*list que de nossos serviços*/
  .servico ul {
    padding: 0 25px 25px;
  }
  

  /*não ter linha na list*/
  .servico ul li:last-child {
    border-bottom: none;
  }
  
/*rodape do site*/
  footer {
    text-align: center;
    padding: 25px;
    background: #b32169;
    color: #fff;
    margin-top: 60px;
    font-size: 0.9em;
  }
  .btn-inicio {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: brown;
    padding: 12px;
    border-radius: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: rgb(245, 242, 242);
    font-weight: bolder;
    

}